bin/
build/externals
build/lib
build/obj
obj/
**/.vs
include/ASIOSDK2/
include/asio/doc/
include/asio/src/examples/
include/genie/
include/lame/
include/premake/
include/vstsdk2.4/
include/xmplay/
include/winamp/
*.aps
*.vcxproj.user
all-externals.sln
OpenMPT-custom*
OpenMPT-MP3*